LanternUnity/.idea/
LanternUnity/Library/
LanternUnity/Temp/
LanternUnity/Assets/Plugins/Editor/JetBrains/
*.sln
*.csproj
LanternUnity/Assets/Plugins/Editor/JetBrains.meta
LanternUnity/Assets/Scenes/
LanternUnity/Assets/Content/
LanternUnity/Logs/
LanternUnity/obj/
LanternUnity/UserSettings/
